@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css';

.window-wrapper {
  position: fixed;
  z-index: 9999;
}

.window-wrapper.top {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.window-wrapper.left {
  left: 0;
}

.window-wrapper.right {
  right: 0;
}

.window-wrapper.center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.window-wrapper.bottom {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.window-wrapper .window {
  position: absolute;
}
